docs
node_modules
src
test
.eslintignore
.eslintrc.json
.gitignore
.npmignore
.prettierrc.json
.idea
coverage
generate-doc.js
jest.config.js
jsdoc.config.json
*.map
*.txt
*.md
tsconfig.json
webpack.config.js